{% load i18n %}

<html>
    {% load i18n %}

    {% blocktrans %}
    Restablecimiento de Contraseña
    ==============================
    
    Estás recibiendo este correo porque has solicitado restablecer la contraseña de tu cuenta de usuario en nuestro sitio. Por favor, ve a la siguiente página y elige una nueva contraseña:
    
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    
    Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.username }}
    
    ¡Gracias por utilizar nuestro sitio!
    
    El equipo de OurSite
    {% endblocktrans %}