{% extends 'auth-base.html' %}

{% extends 'auth-base.html' %}

{% load static %}

{% block content%}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"><img src="{% static 'img/logo.jpg' %}"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Crea una cuenta</h1>
                    </div>

                    <form class="user" method='POST' action="{%url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="name"
                                    placeholder="name" name="name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleLastName"
                                    placeholder="lastaname" name='lastname'>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Emai" name='email'>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Username" name='username'>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Password" name='password'>
                        </div>


                        <div class="col-12 form-group py-3">
                            <button class="btn btn-primary btn-user btn-block" type="submit">Crear cuenta</button>
                        </div>

                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'view_login' %}">¿Ya tienes cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}