{% extends 'base2.html' %}

{% load static %}



{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Empresas</li>
    </ol>
  </nav>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Direccion</th>
                          <th>Flota</th>
                          <th>Email</th>
                          <th>N.Resolucion</th>
                          <th>Fecha de Resolucion</th>
                          <th>Federacion</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Direccion</th>
                      <th>Flota</th>
                      <th>Email</th>
                      <th>N.Resolucion</th>
                      <th>Fecha de Resolucion</th>
                      <th>Federacion</th>
                      <th>Acciones</th>

                  </tr>
                  </tfoot>
                  <tbody>
                    {% for empresa in empresas %}
                      <tr>
                        <td><a href="{% url 'detail_empresa' codigo=empresa.codigo %}"> {{empresa.nombre}}</a></td> 
                          <td>{{empresa.direccion}}</td>
                          <td>{{empresa.flota}}</td>
                          <td>{{empresa.correo_electronico}}</td>
                          <td>{{empresa.numero_resolucion}}</td>
                          <td>{{empresa.fecha_resolucion}}</td>

                          <td>{{empresa.numero_resolucion}}</td>

                          <td><a href="{% url 'eliminar_empresa' code=empresa.codigo   %}" class="btn btn-danger"><i class=" fas fa-solid fa-x" style="color: #ffffff;"></i></a>  <a href="{% url 'actualizar_empresa' code=empresa.codigo %}"class="btn btn-primary">Update</a>
                            <a href="{% url 'create_licencia' code=empresa.codigo %}"class="btn btn-primary">licencia</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
      
    
     
  
  
  
{% endblock  %}