{% extends 'base2.html' %}

{% load static %}



{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'paraderos' %}">Paradero</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registrar Paradero</li>
    </ol>
</nav>
<div class="container">
  <div class="card my-4">

    <div class="card-body">
      <form id="form-paso-1" class="formulario" action="{% url 'create_paradero' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="id_nombre" class="form-label">Nombre:</label>
          <input type="text" id="id_nombre" name="nombre" maxlength="50" required class="form-control">
        </div>
        <div class="form-group">
          <label for="id_numero_resolucion" class="form-label">Número de resolución:</label>
          <input type="text" id="id_numero_resolucion" name="numero_resolucion" maxlength="100" required class="form-control">
        </div>
        <div class="form-group">
          <label for="id_fecha_resolucion" class="form-label">Fecha de resolución:</label>
          <input type="date" id="id_fecha_resolucion" name="fecha_resolucion" required class="form-control">
        </div>
        
     
        <button type="submit" class="btn btn-primary btn-block">Crear</button>
    </div>
  </div>
</div>
{% endblock  %}      