{% extends 'base2.html' %}

{% load static %}

{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente'  %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'view_personas' %}">Personas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Actualizar persona</li>
    </ol>
</nav>
<div class="container">
  <div class="card my-4">
    <div class="card-body">
      <form id="form-paso-1" class="formulario" action="{% url 'actualizar_persona'  code=persona.codigo%}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="id_nombre" class="form-label">Nombre</label>
          <input type="text" id="id_nombre_persona" name="nombre_persona" maxlength="50" required class="form-control" value="{{persona.nombre}}">
        </div>
        <div class="form-group">
          <label for="id_tipo_documento" class="form-label">tipo_documento:</label>
          <select id="id_tipo_documento" name="tipo_documento" required class="form-control">
          {% for doc in tipo_documento %}
          <option value="{{doc.id}}">{{doc.tipo_documento}}</option>
          
          {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="id_nombre" class="form-label">Numero documento</label>
          <input type="number" id="id_nombre" name="numero_documento" maxlength="50" required class="form-control" value="{{persona.numero}}">
        </div>
        
        
        <div class="form-group">
          <label for="id_tipo_documento" class="form-label">Empresa</label>
          <select id="id_tipo_documento" name="empresa" required class="form-control">
          {% for empresa in empresas %}
          <option value="{{empresa.codigo}}">{{empresa.nombre}}</option>
          
          {% endfor %}
          </select>
        </div>
    
        <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
    </div>
  </div>
</div>
{% endblock  %}    