{% extends 'base2.html' %}

{% load static %}



{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Persona</li>
      

    </ol>
</nav>

<div class="card shadow mb-4">
  
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Empresa</th>
                      <th>Tipo de documento</th>
                     
                      <th>Numero  de telefon</th>
                      
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th>Tipo de documento</th>
               
                  <th>Numero  de telefono</th>
                  <th>Acciones</th>
                  
              </tr>
              </tfoot>
              <tbody>
                {% for persona in personas%}
                  <tr>
                      <td>{{persona.nombre}}</td>
                      <td>{{persona.empresa.nombre}}</td>
                      <td>{{persona.tipodocumento}}</td>
                      <td>{{persona.numero}}</td>

                      {% if user == empresa.usuario.id %}

                      <td><a href="{% url 'delete_persona' code=persona.codigo %}" class="btn btn-danger">Delete</a>  <a href="{% url 'view_actualizar_persona' code=persona.codigo %}"class="btn btn-primary">Update</a></td>
                      {%else%}
                      <td> </td>
                      {%endif%}
                      </tr>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
  

 

{% endblock  %}