{% extends 'base.html' %}

{% load static %}

{% block page %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-primary text-black mb-4">
                <div class="card-header">
                    <h4 class="text-black">Últimos usuarios registrados</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for usuario in ultimos_usuarios %}
                        <div class="col-md-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{ usuario.username }}</h5>
                                    <p class="card-text">{{ usuario.email }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-success text-black mb-4">
                <div class="card-header">
                    <h4 class="">Últimas personas registradas</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for persona in ultimas_personas %}
                        <div class="col-md-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <h5 class="card-title text-success">{{ persona.nombre }}</h5>
                                    <p class="card-text">{{ persona.edad }} años</p>
                                    <p class="card-text">{{ persona.direccion }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-primary text-black mb-4">
                <div class="card-header">
                    <h4 class="text-black">Últimos vehículos registrados</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for vehiculo in ultimos_vehiculos %}
                        <div class="col-md-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Número de placa: {{ vehiculo.numero_placa }}
                                    </h5>
                                    <p class="card-text">Propietario: {{ vehiculo.propietario.nombre }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}