{% extends 'base.html' %}

{% load static %}

{% block page %}
<div class="container py-5">
    <div class="profile-card">
        <div class="card-header">
            <h2 class="mb-0" style="color:white">{{ usuario.first_name }} {{ usuario.last_name }}</h2>
        </div>
        <div class="card-body">
            {% if usuario.foto %}
            <img src="{{ usuario.foto.url }}" alt="Foto de usuario" class="profile-pic">
            {% else %}
            <img src="{% static 'img/default.png' %}" alt="Foto de usuario por defecto" class="profile-pic">
            {% endif %}
            <h2 class="mb-0">{{ usuario.username }}</h2>
            <p class="mb-0"><span class="description-label">Email:</span> {{ usuario.email }}</p>
            {% if info_usuario.numerotelefonico %}
            <p class="mb-0"><span class="description-label">Telefono:</span> {{ info_usuario.numerotelefonico }}</p>
            {% endif %}
            {% if info_usuario.genero %}
            <p class="mb-0"><span class="description-label">Genero:</span> {{ info_usuario.genero }}</p>
            {% endif %}
            {% if info_usuario.direccion %}
            <p class="mb-0"><span class="description-label">Direccion:</span> {{ info_usuario.direccion }}</p>
            {% endif %}
            {% if info_usuario.fechanacimiento %}
            <p class="mb-0"><span class="description-label">Fecha de Nacimiento:</span> {{ info_usuario.fechanacimiento
                }}</p>
            {% endif %}
            <div class="social-icons">
                {% if info_usuario.facebook %}
                <!-- El usuario tiene un valor asignado en info_usuario.facebook -->
                <span class="social-icon"><a href="{{ info_usuario.facebook }}"><i
                            class="fab fa-facebook-square"></i></a></span>
                {% else %}
                <!-- El usuario no tiene un valor asignado en info_usuario.facebook -->
                <span>No disponible</span>
                {% endif %}

                {% if info_usuario.twiter %}
                <span class="social-icon"><a href="{{ info_usuario.twitter }}"><i
                            class="fab fa-twitter-square"></i></a></span>
                {% endif %}
                {% if info_usuario.instagram %}
                <span class="social-icon"><a href="{{ info_usuario.instagram }}"><i
                            class="fab fa-instagram-square"></i></a></span>
                {% endif %}

            </div>
            {% if user == usuario %}

            <div class="card-footer text-center">
                <button class="btn btn-send"
                    onclick="window.location.href='{% url 'socialmedia' id=usuario.id %}'">Agregar/Editar Redes
                    Sociales</button>
            </div>
            {%endif%}
            {% endblock %}