{% extends 'base.html' %}

{% load static %}

{% block page %}
<div class="container">
    <div class="card my-4">

        <div class="card-body">
            <form action="{% url 'socialmedia' id=user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="facebook">Link facebook:</label>
                    <input type="text" name="facebook" id="facebook" pattern="https?://.+" class="form-control">
                </div>
                <div class="form-group">
                    <label for="twitter">Link twitter:</label>
                    <input type="text" name="tw" id="twitter" pattern="https?://.+" class="form-control">
                </div>
                <div class="form-group">
                    <label for="instagram">link instagram:</label>
                    <input type="text" name="instagram" id="instagram" pattern="https?://.+" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Agregar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}