{% extends 'base2.html' %}

{% load static %}



{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registrar Vehiculos</li>
    </ol>
</nav>
<div class="container">
  <div class="card my-4">
    <div class="card-header">
      Formulario
    </div>
    <div class="card-body">
      <form id="form-paso-1" class="formulario" action="{% url 'create_vehiculo' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="id_tipo_documento" class="form-label">empresa</label>
          <select id="id_tipo_documento" name="empresa" required class="form-control">
          {% for empresa in empresas %}
          
          <option value="{{empresa}}"> {{empresa}} </option>
          
          
          {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="id_nombre" class="form-label">Numero de placa:</label>
          <input type="text" id="id_nombre" name="n_placa" maxlength="50" required class="form-control" value={{vehiculo.numero_placa}}>
        </div>
        <div class="form-group">
          
          <label for="id_direccion" class="form-label">numeracion</label>
          <input type="text" id="id_direccion" name="numeracion" maxlength="70" required class="form-control" value={{vehiculo.numeracion}}>
        </div>
        <div class="form-group">
          <label for="id_tipo_documento" class="form-label">propietario</label>
          <select id="id_tipo_documento" name="propietario" required class="form-control">
          {% for persona in personas %}
          
          <option value="{{persona}}"> {{persona}} </option>
          
          {% endfor %}
          </select>
        </div>
       
        <div class="form-group">
          <label for="id_tipo_documento" class="form-label">modelo</label>
          <select id="id_tipo_documento" name="modelo" required class="form-control">
          {% for modelo in modelos %}
          
          <option value="{{modelo}}"> {{modelo}} </option>
          
          {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="id_fecha_resolucion" class="form-label">Año fabricacion:</label>
          <input type="date" id="" name="ano_fabricacion" required class="form-control">
        </div>
        
        <div class="form-group">
          <label for="id_tipo_documento" class="form-label">Conductor</label>
          <select id="id_tipo_documento" name="conductor" required class="form-control">
          {% for persona in personas %}
          
          <option value="{{persona.id}}"> {{persona.nombre}} </option>
          
          {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-siguiente" data-actual="form-paso-1" data-siguiente="form-paso-2">enviar</button>
     
    </div>
  </div>
</div>
{% endblock  %}