{% extends 'base2.html' %}

{% load static %}



{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registrar vehiculo</li>
    </ol>
</nav>
<form id="form-paso-1" class="formulario">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_nombre" class="form-label">Nombre:</label>
      <input type="text" id="id_nombre" name="nombre" maxlength="50" required class="form-control">
    </div>
    <div class="form-group">
      <label for="id_direccion" class="form-label">Dirección:</label>
      <input type="text" id="id_direccion" name="direccion" maxlength="70" required class="form-control">
    </div>
    <div class="form-group">
      <label for="id_flota" class="form-label">Flota:</label>
      <input type="number" id="id_flota" name="flota" required class="form-control">
    </div>
    <div class="form-group">
      <label for="id_correo_electronico" class="form-label">Correo electrónico:</label>
      <input type="email" id="id_correo_electronico" name="correo_electronico" maxlength="254" required class="form-control">
    </div>
    <div class="form-group">
      <label for="id_numero_resolucion" class="form-label">Número de resolución:</label>
      <input type="text" id="id_numero_resolucion" name="numero_resolucion" maxlength="100" required class="form-control">
    </div>
    <div class="form-group">
      <label for="id_fecha_resolucion" class="form-label">Fecha de resolución:</label>
      <input type="date" id="id_fecha_resolucion" name="fecha_resolucion" required class="form-control">
    </div>
    <button type="button" class="btn btn-primary btn-siguiente" data-actual="form-paso-1" data-siguiente="form-paso-2">Siguiente</button>
  </form>
  
  <form id="form-paso-2" class="formulario" style="display: none;">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_nombre" class="form-label">Nombre:</label>
      <input type="text" id="id_nombre" name="nombre" maxlength="50" required class="form-control">
    </div>
    <button type="button" class="btn btn-secondary btn-anterior" data-actual="form-paso-2" data-anterior="form-paso-1">Anterior</button>
    <button type="button" class="btn btn-primary btn-siguiente" data-actual="form-paso-2" data-siguiente="form-paso-3">Siguiente</button>
  </form>
  
  <form id="form-paso-3" class="formulario" style="display: none;">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_numero_resolucion">Número de resolución:</label>
      <input type="text" id="id_numero_resolucion" name="numero_resolucion" maxlength="100" required class="form-control">
    </div>
    <div class="form-group">
        <label for="id_numero_resolucion">Número de resolución:</label>
        <input type="text" id="id_numero_resolucion" name="numero_resolucion" maxlength="100" required class="form-control">
      </div>
      <div class="form-group">
        <label for="id_fecha_inicial" class="form-label">Fecha inicial:</label>
        <input type="date" id="id_fecha_inicial" name="fecha_inicial" required class="form-control">
      </div>
      <div class="form-group">
        <label for="id_fecha_final" class="form-label">Fecha final:</label>
        <input type="date" id="id_fecha_final" name="fecha_final" required class="form-control">
      </div>
      <div class="form-group">
        <label for="id_Recibo_caja" class="form-label">Recibo de caja:</label>
        <input type="text" id="id_Recibo_caja" name="Recibo_caja" maxlength="180" required class="form-control">
      </div>
      <div class="form-group">
        <label for="id_empresa" class="form-label">Empresa:</label>
        <select id="id_empresa" name="empresa" required class="form-control">
          {% for empresa in empresas %}
          <option value="{{ empresa.codigo }}">{{ empresa.nombre }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  
{% endblock  %}