{% extends 'base2.html' %}

{% block page %}
  <div class="container">
    <h1 class="text-center">Detalles del Vehículo {{ vehiculo.numero_placa }}</h1>
    <hr>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="mb-4">Información General</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Número de placa:</th>
              <td>{{ vehiculo.numero_placa }}</td>
            </tr>
            <tr>
              <th scope="row">Numeración:</th>
              <td>{{ vehiculo.numeracion }}</td>
            </tr>
            <tr>
              <th scope="row">Marca:</th>
              <td>{{ vehiculo.modelo.marca.descripcion }}</td>
            </tr>
            <tr>
              <th scope="row">Modelo:</th>
              <td>{{ vehiculo.modelo.descripcion }}</td>
            </tr>
            <tr>
              <th scope="row">Año:</th>
              <td>{{ vehiculo.año }}</td>
            </tr>
            <tr>
              <th scope="row">Propietario:</th>
              <td>{{ vehiculo.propietario }}</td>
            </tr>
            <tr>
              <th scope="row">Conductor:</th>
              <td>{{ vehiculo.conductor }}</td>
            </tr>
            <tr>
              <th scope="row">Empresa:</th>
              <td>{{ vehiculo.empresa }}</td>
            </tr>
            <tr>
              <th scope="row">Estado:</th>
              <td>{{ vehiculo.estado.descripcion }}</td>
            </tr>
            <tr>
              <th scope="row">Fecha de creación:</th>
              <td>{{ vehiculo.fecha_creacion }}</td>
            </tr>
            <tr>
              <th scope="row">Fecha de última actualización:</th>
              <td>{{ vehiculo.fecha_actualizacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

