{% extends 'base2.html' %}

{% load static %}



{% block page %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_cliente' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Vehiculos</li>
    </ol>

    <ol class="breadcrumb">
        {% for vehiculo in vehiculos %}

        <li class="breadcrumb-item"> {{empresa.nombre}} </li>
        
        
        {% endfor %}
      
      </ol>
  
  
  
{% endblock  %}